body * {
  font-family: sans-serif;
}
#gameboard {
  margin: auto;
  width: 200px;
}
#gameboard > div {
  width: 200px;
  height: 50px;
}
#gameboard > div > *, #keyboard div {
  border: 3px black solid;
  width: 30px;
  height: 30px;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
}
#keyboard {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#keyboard div {
  width: 30px;
  height: 30px;
}
#keyboard div.wordss {
  width: 100px;
}
.break {
  flex-basis: 100%;
  height: 0px;
}
hr {
  border: none;
  flex-basis: 100%;
}
